<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            login.jsp   
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>signupserv</servlet-name>
        <servlet-class>servlets.signupserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginserv</servlet-name>
        <servlet-class>servlets.loginserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeserv</servlet-name>
        <servlet-class>servlets.homeserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profupdserv</servlet-name>
        <servlet-class>servlets.profupdserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingserv</servlet-name>
        <servlet-class>servlets.bookingserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutserv</servlet-name>
        <servlet-class>servlets.logoutserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookedserv</servlet-name>
        <servlet-class>servlets.bookedserv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signupserv</servlet-name>
        <url-pattern>/signupserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginserv</servlet-name>
        <url-pattern>/loginserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeserv</servlet-name>
        <url-pattern>/homeserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profupdserv</servlet-name>
        <url-pattern>/profupdserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingserv</servlet-name>
        <url-pattern>/bookingserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutserv</servlet-name>
        <url-pattern>/logoutserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookedserv</servlet-name>
        <url-pattern>/bookedserv</url-pattern>
    </servlet-mapping>
    
</web-app>
